.pricing-container {
  margin-top: 10rem;
  position: relative;
}

.pricing-img1 {
  position: absolute;
  top: -5.5rem;
  left: 6rem;
}
.pricing-img2 {
  position: absolute;
  top: -6rem;
  right: 8rem;
}
.pricing-img3 {
  position: absolute;
  right: 3rem;
}
.pricing-img4 {
  position: absolute;
  bottom: -2rem;
  left: 5rem;
}
.pricing-img5 {
  position: absolute;
  bottom: -20rem;
  right: 0;
}
/*pricing card itmes*/

.pricing-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 7rem;
}
.pricing-card {
  border-radius: 0.4rem;
}
.pricing-card-details {
  padding: 0 1.8rem;
}

.company-address {
  margin-bottom: 0rem;
}
.price {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
}

.price p {
  font-size: 1.2rem;
}
.price-amount {
  font-size: 2.2rem;
  font-weight: 900;
  margin-bottom: 1rem;
}
.company-name {
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 0rem;
  margin-bottom: 0.2rem;
}
.price-text-desc {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.price-text-desc p {
  margin-bottom: 0.4rem;
}
.price-icon {
  font-size: 1.4rem;
  margin-top: 0.6rem;
}

/*button*/
.pricing-btn {
  background-color: #ffffff;
  border: 2px solid #525ded;
  color: #525ded;
  margin: 1rem auto 1.5rem auto;
  width: 100%;
  padding: 1.5rem 2rem;
}
