@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;500;700&family=Noto+Sans:wght@400;500;600;700;900&display=swap");

body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0px 100px;
}

/* h1,
h2,
h3 {
  font-family: "Lexend Deca", sans-serif;
} */

/* ========== MEDIA QUERIES (TABLET DEVICE) ========== */
@media only screen and (max-width: 1024px) {
  body {
    padding: 0px 70px;
  }
}

/* ========== MEDIA QUERIES (MOBILE DEVICE) ========== */
@media only screen and (max-width: 640px) {
  body {
    padding: 0px 40px;
  }
}
